.App {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkslategray;
  min-height: 40vh;
}

.btc-icon {
  font-size: 120px;
  border-radius: 60px;
  color: #FF9900;
  background-color: white;
  transform: rotate(120deg);
  
}

header>h1 {
  color: white;
  font-weight: 700;
}